* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.my-link {
  padding: 1.5rem;
  color: white;
  font-size: 0.9em;
  font-weight: bold;
}

.nav-bar {
  display: flex;
  background-color: rgb(19, 19, 102);
  height: 2em;
  align-content: center;
}
