* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.my-link {
  padding: 1em;
  color: white;
  font-weight: bold;
}

.nav-bar {
  display: flex;
  background-color: rgb(23, 23, 116);
  height: 3em;
  align-content: center;
}
