* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.below-nav-bar-container {
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
}

.user-input-instruction {
  font-size: 1.75em;
  padding: 0.5em;
}

.chart-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.user-input-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.mycpf-link {
  padding: 0.5em;
  font-weight: bold;
}
