* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.user-input-instruction {
  font-size: 1.75em;
  padding: 0.5em;
}

.chart-container {
  display: flex;
  justify-content: center;
}

.user-input-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
