* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.user-input-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.no-userinput-alert {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 500px;
}

.no-userinput-alert p {
  font-size: 2em;
  font-weight: bold;
}
