* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.user-input-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.no-userinput-alert {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 500px;
}

.no-userinput-alert p {
  font-size: 2em;
  font-weight: bold;
}

.chart-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.mycpf-link {
  margin: 1em 0 0.5em 1em;
  font-size: 1em;
  font-weight: bold;
}
.mycpf-link a {
  margin: 0.4em;
  font-weight: bold;
  text-decoration: underline;
}
