* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.below-nav-bar-container {
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: flex-start;
}

.start-page {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.user-input-instruction {
  font-size: 1.75em;
  padding: 0.5em;
}

.chart-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.user-input-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.mycpf-link {
  margin: 1em 0 0.5em 1em;
  font-size: 1em;
  font-weight: bold;
}
.mycpf-link a {
  margin: 0.4em;
  font-weight: bold;
  text-decoration: underline;
}
