* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.data-visualization {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.chart-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
