* {
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

.start-page {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.description h1 {
  padding: 0.5rem 0 0.2rem 1rem;
  font-weight: bold;
}

.description p {
  padding: 0.1rem 0 0.25rem 1rem;
  font-weight: bold;
}
