* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.homepage-info {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
}

.my-card {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;

  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  text-align: center;
  transition: 0.3s;
  height: 375px;
  width: 500px;
  margin: 1.5em;
}

.my-card h3 {
  font-size: 1.5em;
  font-weight: bold;
  padding: 1rem 0 0 0;
}

.my-card p {
  padding: 1rem;
}

.my-card img {
  width: 220px;
  height: 180px;
}

.mycpf-link {
  margin: 1em 0 0.5em 1em;
  font-size: 1em;
  font-weight: bold;
}
.mycpf-link a {
  margin: 0.4em;
  font-weight: bold;
  text-decoration: underline;
}
