* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.my-keyinfo-card {
  padding: 2em;
  width: 400px;
}

.my-keyinfo-card h1 {
  font-size: 1.5em;
  font-weight: bold;
}

.my-keyinfo-card ul {
  padding: 0 0 0 1em;
}

.my-keyinfo-card ul li ul li {
  padding: 0 0.1e;
  font-size: 0.9em;
}
