* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.my-pie-chart {
  display: flex;
  width: 400px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.my-pie-chart h1 {
  width: 90%;
  font-size: 1em;
  font-style: italic;
}
