* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.summary {
  padding: 1em;
}

.summary h5 {
  font-weight: bold;
}

.summary ul {
  padding: 0 0 0 0.5em;
}

.summary li {
  padding: 0 0 0.25em 0;
}

.summary ul li ul {
  padding: 0 0 0 1em;
}
