* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.my-form {
  background-image: url("../assets/pexels-photo-949587.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 1.5em;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: lightgray;
  height: auto;
  width: 100%;
  align-content: center;
  justify-content: center;
}

.my-form label {
  font-size: 1.1em;
  font-weight: bold;
  margin: 0.5em;
  color: white;
}

.my-form input {
  margin: 0.3em 0.2em;
  padding: 0.25em;
  width: 250px;
  font-size: 1em;
}

.my-form button {
  margin: 0.75em 1em;
  padding: 0.25em;
  width: 200px;
  height: 2em;
  vertical-align: bottom;
  border-radius: 1%;
  background-color: lightgrey;
}

.button-container {
  display: flex;
  justify-content: center;
}

button {
  display: inline-block;
  border: none;
  padding: 1rem 2rem;
  margin: 0;
  text-decoration: none;
  background: #0069ed;
  color: black;
  font-family: sans-serif;
  font-size: 1rem;
  cursor: pointer;
  text-align: center;
  transition: background 250ms ease-in-out, transform 150ms ease;
  -webkit-appearance: none;
  -moz-appearance: none;
}

button:hover,
button:focus {
  background: #0053ba;
}

button:focus {
  outline: 1px solid #fff;
  outline-offset: -4px;
}

button:active {
  transform: scale(0.99);
}
