* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.my-form {
  background-image: url("../assets/pexels-photo-949587.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 1.5em;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: lightgray;
  height: auto;
  width: 100%;
  align-content: center;
  justify-content: center;
}

.my-form label {
  font-size: 0.9em;
  font-weight: bold;
  margin: 0.5em;
  color: white;
}

.my-form input {
  margin: 0.3em 0.2em;
  padding: 0.25em;
  width: 250px;
  font-size: 1em;
}

.my-form button {
  margin: 0.75em 1em;
  padding: 0.25em;
  width: 200px;
  height: 2em;
  vertical-align: bottom;
  border-radius: 1%;
  background-color: lightgrey;
}

.button-container {
  display: flex;
  justify-content: center;
}
